body {
	text-align: center;
	background-color: #e9ece5;
	margin: 0;
	padding: 0;
	font-family: 'Patrick Hand SC', cursive;
}

header {
	border: solid  #b3c2bf;
	background-color:  #b3c2bf;
	color: white;
	font-family: 'Patrick Hand SC', cursive;
	
}

section {
	border: solid  #c0dfd9;
	background-color:  #c0dfd9;
	padding: 20px;
	margin-top: 35px;
}
footer {
	border: solid  #b3c2bf;
	background-color:  #b3c2bf;
	color: white;
	padding: 25px;
}

h1 a {
	text-decoration: none;
	color: #3b3a36;
	
}

img {
	width: 360px;
	height: 240px;
}