<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="styles.css"></link>
<title th:text="${continent.name}"></title>
</head>
<body>
	<header>
		<h1 th:text="${continent.name}"></h1>
	</header>


	<h2>List of Countries</h2>
	<form method="POST">
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Population</th>
			<th>Language</th>
			<th>Delete</th>
			</tr>
			</thead>
			<tbody>
			<tr class="list" th:each="country:${continent.countries}">
			<td> <a th:href="@{/country(id=${country.id})}" th:text="${country.name}"></a></td>
			<td th:text="${country.population}"></td>
			<td th:text="${country.language}"></td>
			<td><button th:formaction="@{/deleteReview}" name="id" th:value="${country.id}">delete me</button></td>
			</tr>
			</tbody>
	</table>
	</form>
	<div class="home">
		<a th:href="@{/continents}">Back to home</a>
	</div>
	<section></section>
	<footer>Copyright Summer Saleh 2017</footer>
</body>
</html>