<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="styles.css"></link>
<title th:text="${continent.name}"></title>
</head>
<body>
	<header>
		<h1 th:text="${continent.name}"></h1>
	</header>
	


	<div class = "list" th:each="country:${continent.countries}">
	<h2>List of Countries</h2>
		<a th:href="@{/country(id=${country.id})}" th:text="${country.name}"></a>
	</div>
	<div class ="home">
	<a th:href="@{/continents}">Back to home</a>
	</div>
	<section></section>
	<footer>Copyright Summer Saleh 2017</footer>
</body>
</html>