<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="styles.css"></link>
<title>World Map</title>
</head>  
<body>
	<header>
		<h1>World Map</h1>
	</header>


	<div th:each="continent: ${continents}">
		<h1>
			<a th:href="@{/continent(id=${continent.getId()})}"
				th:text="${continent.getName()}"></a>
		</h1>
		<img th:src="${continent.getImage()}"/>
		<p th:text="${continent.description}"></p>
		
	</div>

	<section></section>
	<footer>Copyright Summer Saleh 2017</footer>
</body>
</html>
